<div class="wrapper" style="">
    <div class="container-fluid pt-5 pb-5" style="padding: 20px;">
        <div class="row mb-3">
            <div class="col text-center p-3">
                <img src="{{ url_for('static',filename='images/used/box.png') }}" class="bg-img mb-3" alt="Responsive image" style="width: 86px;height: auto;"><br>
                <div class="row">
                    <span style="font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;">Free Shipping</span>
                </div>
                <br>
                <span style="font-family: Helvetica;
                font-style: normal;
                font-weight: lighter;text-align: center;
                font-size: 25px;" class="">Get free shipping on orders of <br> xxx THB or more</span>
            </div>
            <div class="col text-center p-3">
                <img src="{{ url_for('static',filename='images/used/customer-support.png') }}" class="bg-img mb-3" alt="Responsive image" style="width: 86px;height: auto;"><br>
                <div class="row">
                    <span style="font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;">Customer Service</span>
                </div>
                <br>
                <span style="font-family: Helvetica;
                font-style: normal;
                font-weight: lighter;
                font-size: 25px;" class="">Get free shipping on orders of <br> xxx THB or more</span>
            </div>
            <div class="col text-center p-3">
                <img src="{{ url_for('static',filename='images/used/padlock.png') }}" class="bg-img mb-3" alt="Responsive image" style="width: 86px;height: auto;"><br>
                <div class="row">
                    <span style="font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;">Secured Payment</span>
                </div>
                <br>
                <span style="font-family: Helvetica;
                font-style: normal;
                font-weight: lighter;
                font-size: 25px;" class="">Your payment information is <br>processed securely</span>
            </div>
        </div>
    </div>
</div>